.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar
/out/
gradlew.bat
gradlew
/gradle
/dispute/
.DS_Store

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
target
### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/launch.json
.vscode/settings.json

bin/
.DS_Store
.zsh_history